/*  your css code here. If applicable */
#yellow{
	background-color:yellow;
/* 	border:solid 1px green */
	border-style:solid;
	border-width:1px;
	border-color:green;
	}
#red{
	background-color:red;
	border:solid 1px black;
}
#green{
	background-color:green;
	border:solid 1px yellow;
}


